* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F8FF;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

:root {
  font-size: 12px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.navbar {
  width: 95%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-bottom: 3px solid black;
}
.navbar h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.menu-opacity {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

#close-button {
  width: 50px;
  height: 50px;
  transform: translateX(-2rem) translateY(4rem);
  position: fixed;
  top: 0;
  right: 0;
}
#close-button:hover {
  cursor: pointer;
}
#close-button #line1 {
  width: 40px;
  height: 10px;
  transform: rotate(45deg);
  background-color: white;
}
#close-button #line2 {
  width: 40px;
  height: 10px;
  transform: rotate(-45deg) translateY(-7px) translateX(7px);
  background-color: white;
}

nav {
  width: 100%;
  display: flex;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
}
nav ul {
  display: flex;
  min-height: -moz-fit-content;
  min-height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5rem 1rem;
  background-color: #6F00FF;
}
nav ul li {
  padding: 0.25rem 1.25rem;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: clamp(4rem, 6vw, 6rem);
}

button {
  padding: 1rem 2.5rem;
  border: 2px solid black;
  font-size: 1.25rem;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}
button:hover {
  background-color: #6F00FF;
  color: white;
  cursor: pointer;
}

.home-content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding-bottom: 5rem;
}
.home-content #self-intro {
  width: 45%;
  padding: 1rem 2rem;
}
.home-content #self-intro h2 {
  text-align: left;
  word-break: keep-all;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  font-size: clamp(4rem, 5vw, 5rem);
  color: black;
}
.home-content #self-intro h3 {
  font-size: clamp(2rem, 3vw, 3rem);
  color: #6F00FF;
  margin-bottom: 3rem;
}
.home-content #self-intro a {
  padding: 1rem 2rem;
  border: 2px solid black;
  font-size: 1.5rem;
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin: 0.5rem;
}
.home-content figure {
  width: 55%;
  height: 50%;
  display: flex;
  align-items: center;
}
.home-content figure img {
  width: 95%;
  height: 100%;
  max-height: 800px;
  margin: 3rem 2.5%;
  border-radius: 1rem;
}

.projects-content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 4rem;
}
.projects-content article h1 {
  font-size: clamp(3rem, 15vw, 15rem);
  padding-left: 2rem;
  padding-top: 3rem;
}
.projects-content article h2 {
  font-size: clamp(2rem, 3vw, 3rem);
  padding-left: 2rem;
  padding-bottom: 3rem;
  color: #6F00FF;
}
.projects-content article section {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1rem;
  border: 5px solid black;
  margin: 4.5rem 5%;
  display: flex;
  padding: 2.5rem;
}
.projects-content article section .project-info {
  display: flex;
  gap: 2rem;
}
.projects-content article section .project-info figure {
  width: 35%;
  height: auto;
}
.projects-content article section .project-info figure img {
  width: 100%;
  height: 50vh;
}
.projects-content article section .project-info .project-section {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.projects-content article section .project-info .project-section .visit-link {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
.projects-content article section .project-info .project-section .visit-link a {
  padding: 1rem 2.5rem;
  border: 2px solid black;
  font-size: 1.25rem;
  background-color: #6F00FF;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin: 0.5rem;
}
.projects-content article section .project-info .project-section h3 {
  font-size: clamp(2rem, 4vw, 4rem);
  padding-bottom: 2rem;
}
.projects-content article section .project-info .project-section p {
  font-family: Verdana;
  font-size: clamp(1rem, 2vw, 2rem);
  padding-bottom: 2.5rem;
}

.exp-content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.exp-content article {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 5rem;
}
.exp-content article h1 {
  font-size: clamp(3rem, 14vw, 14rem);
  padding-left: 1rem;
  padding-top: 3rem;
}
.exp-content article h2 {
  font-size: clamp(1.5rem, 2.5vw, 2.25rem);
  padding-left: 1rem;
  padding-bottom: 3rem;
  color: #6F00FF;
  position: relative;
}
.exp-content article ul {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: start;
  position: sticky;
  padding: 1rem;
  background-color: #F8F8FF;
  top: 0;
  z-index: 4;
  overflow-x: auto;
  gap: 1rem;
}
.exp-content article ul li {
  list-style: none;
}
.exp-content article ul li a {
  color: #9683EC;
  text-decoration: none;
  font-size: clamp(2rem, 3.5vw, 3.5rem);
  white-space: nowrap;
}
.exp-content article #technical-skills {
  display: flex;
  flex-direction: column;
}
.exp-content article #technical-skills .skills-list {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1rem;
  margin-bottom: 4rem;
}
.exp-content article #technical-skills .skills-list .skill-item {
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  color: black;
  border: 2px solid black;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.5rem;
}
.exp-content article #technical-skills .skills-list .skill-item:hover {
  background-color: #6F00FF;
  color: white;
  transform: translateY(-8px) scale(1.5);
}
.exp-content article #technical-skills .art-carousel {
  width: 100%;
  margin: auto;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
  margin-top: 2rem;
}
.exp-content article #technical-skills .art-carousel img {
  width: 35rem;
  height: auto;
}
.exp-content article section {
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 4rem auto;
  scroll-margin-top: 16vh;
}
.exp-content article section h3 {
  font-size: clamp(3rem, 4vw, 4rem);
  margin-bottom: 1rem;
}
.exp-content article section h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: verdana;
  color: #6F00FF;
}
.exp-content article section p {
  font-size: clamp(1.25rem, 1.75vw, 1.75rem);
  font-family: verdana;
  margin-bottom: 2rem;
}
.exp-content article section figure {
  width: 45%;
  height: auto;
}
.exp-content article section figure img {
  width: 100%;
  max-height: 45rem;
  float: left;
  margin-right: 20px;
  margin-bottom: 2rem;
}

.contact-content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.contact-content article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-content article h1 {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  font-size: clamp(3rem, 9vw, 9rem);
  padding: 2rem 1rem;
}
.contact-content article h2 {
  width: 100%;
  font-size: clamp(3rem, 7vw, 7rem);
  height: -moz-fit-content;
  height: fit-content;
  color: #6F00FF;
  padding-left: 1rem;
}
.contact-content article section {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.contact-content article section figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.contact-content article section figure iframe {
  width: 95%;
  height: clamp(25rem, 40vw, 40rem);
}
.contact-content article section figure figcaption {
  width: 95%;
  display: flex;
  justify-content: end;
}
.contact-content article section figure figcaption a {
  color: #6F00FF;
}
.contact-content article .contact-links {
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
}
.contact-content article .contact-links .contact-item {
  color: black;
  font-size: clamp(1.75rem, 2.5vw, 2.5rem);
  text-decoration: none;
  border: 5px solid black;
  padding: 1.25rem 4rem;
}
.contact-content article .contact-links .contact-item:hover {
  background-color: #6F00FF;
  color: white;
}

.about-content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 4rem;
}
.about-content article {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.about-content article h1 {
  font-size: clamp(5rem, 11vw, 11rem);
  padding: 6.5rem 1rem;
  text-align: center;
}
.about-content article section {
  width: 98%;
  height: 100vh;
  display: flex;
  margin: auto;
  border: 2px solid black;
}
.about-content article section figure {
  width: 50%;
  height: 100%;
}
.about-content article section figure img {
  width: 100%;
  height: 100%;
}
.about-content article section div {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.about-content article section div p {
  font-family: verdana;
  font-size: clamp(1.6rem, 1.75vw, 1.75rem);
}
.about-content article section div h3 {
  font-size: clamp(4rem, 4.5vw, 4.5rem);
  color: black;
  margin-bottom: 0.75rem;
  margin-top: 5rem;
}
.about-content article #s2 {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1025px) {
  .home-content {
    flex-direction: column-reverse;
    padding-bottom: 8rem;
  }
  .home-content #self-intro {
    width: 100%;
    padding: 0rem 2rem;
  }
  .home-content #self-intro h2 {
    width: 100%;
    font-size: clamp(3.5rem, 8vw, 8rem);
  }
  .home-content #self-intro h3 {
    width: 100%;
    font-size: clamp(2rem, 6vw, 6rem);
  }
  .home-content #self-intro #explore-button {
    margin-bottom: 1rem;
  }
  .home-content figure {
    width: 100%;
  }
  .home-content figure img {
    width: 100%;
    height: 100vw;
    padding: 1rem 1rem;
  }
  .about-content article section {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    border: none;
  }
  .about-content article section figure {
    width: 98%;
    margin: auto;
  }
  .about-content article section figure img {
    max-height: 50rem;
  }
  .about-content article section div {
    width: 100%;
    margin: auto;
    padding: 15vh 1rem;
  }
  .about-content article section div h3 {
    margin-top: 0;
  }
  .about-content article #s2 {
    flex-direction: column;
  }
  .about-content article #s2 figure {
    width: 98%;
    margin: auto;
  }
  .about-content article #s2 div {
    width: 100%;
    margin: auto;
  }
  .projects-content article h2 {
    padding-bottom: 0rem;
  }
  .projects-content article section .project-info {
    flex-direction: column;
  }
  .projects-content article section .project-info figure {
    width: 100%;
  }
  .projects-content article section .project-info figure img {
    width: 100%;
    height: 60vw;
  }
  .projects-content article section .project-info .project-section {
    width: 100%;
  }
  .projects-content article section .project-info .project-section .visit-link {
    justify-content: start;
  }
  .projects-content article section .project-info .project-section .visit-link a {
    padding: 1rem 1.5rem;
  }
  .contact-content article .contact-links {
    flex-direction: column;
    gap: 4rem;
  }
  .contact-content article .contact-links .contact-item {
    width: 100%;
    padding: 2rem 3rem;
  }
}/*# sourceMappingURL=index.css.map */