* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F8FF;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

:root {
  font-size: 12px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  scrollbar-width: none;
}

.home-content {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  position: relative;
}
.home-content #self-intro {
  width: 45%;
  padding: 3rem 3rem;
}
.home-content #self-intro h2 {
  text-align: left;
  word-break: keep-all;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  font-size: clamp(4rem, 5vw, 5rem);
  color: black;
}
.home-content #self-intro h3 {
  font-size: clamp(2rem, 3vw, 3rem);
  color: #563C5C;
  margin-bottom: 3rem;
}
.home-content #self-intro #explore-button {
  padding: 1rem 3rem;
  border: 2px solid black;
  font-size: 1.25rem;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}
.home-content figure {
  width: 55%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-content figure img {
  width: 95%;
  height: 100%;
  max-height: 850px;
  padding: 1rem 0;
  border-radius: 15px;
}

.menu-opacity {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

#close-button {
  width: 50px;
  height: 50px;
  transform: translateX(2rem) translateY(4rem);
  position: fixed;
}
#close-button #line1 {
  width: 40px;
  height: 10px;
  transform: rotate(45deg);
  background-color: white;
}
#close-button #line2 {
  width: 40px;
  height: 10px;
  transform: rotate(-45deg) translateY(-7px) translateX(7px);
  background-color: white;
}

nav {
  width: 100%;
  display: flex;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
}
nav ul {
  display: flex;
  min-height: -moz-fit-content;
  min-height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  flex-direction: column;
  align-items: end;
  width: 100%;
  padding: 5rem 1rem;
  background-color: #563C5C;
}
nav ul li {
  padding: 0.25rem 1.25rem;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: clamp(4rem, 10vw, 10rem);
}

@media screen and (max-width: 1025px) {
  .home-content {
    flex-direction: column-reverse;
  }
  .home-content #self-intro {
    width: 100%;
    padding: 3rem 2rem;
  }
  .home-content #self-intro h2 {
    width: 100%;
    font-size: clamp(3.5rem, 8vw, 8rem);
  }
  .home-content #self-intro h3 {
    width: 100%;
    font-size: clamp(2rem, 6vw, 6rem);
  }
  .home-content #self-intro #explore-button {
    margin-bottom: 3rem;
  }
  .home-content figure {
    width: 100%;
    padding: 0.5rem 2rem;
  }
  .home-content figure img {
    width: 100%;
    height: 85vw;
  }
  .home-content hr {
    width: 95%;
    height: 0.75rem;
    background-color: #563C5C;
    margin: 0 auto;
  }
}/*# sourceMappingURL=index.css.map */