* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: #F8F8FF;
    width: 100%;
    height: fit-content;
}

:root{
  font-size: 12px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.navbar{
  width: 95%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-bottom: 3px solid black;
  h2{
    font-size: clamp(1.5rem, 3vw, 3rem)
  }
}


.menu-opacity{
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

#close-button{
  width: 50px;
  height: 50px;
  transform: translateX(-2rem) translateY(4rem);
  position: fixed;
  top: 0;
  right: 0;
  &:hover{
    cursor: pointer;
  }
  #line1{
    width: 40px;
    height: 10px;
    transform: rotate(45deg);
    background-color: white;
  }
  #line2{
    width: 40px;
    height: 10px;
    transform: rotate(-45deg) translateY(-7px) translateX(7px);
    background-color: white;
  }
}

nav{
  width: 100%;
  display: flex;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;

  ul{
    display: flex;
    min-height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5rem 1rem;
    background-color: #6F00FF;
    li{
      padding: 0.25rem 1.25rem;
      list-style-type: none;
      a{
        text-decoration: none;
        color: white;
        font-size: clamp(4rem, 6vw, 6rem);
      }
    }
  }
}


button{
  padding: 1rem 2.5rem;
  border: 2px solid black;
  font-size: 1.25rem;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  &:hover{
    background-color: #6F00FF;
    color: white;
    cursor: pointer;
  }
}

.home-content{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row; 
  padding-bottom: 5rem;

  #self-intro{
    width: 45%;
    padding: 1rem 2rem;
    h2{
      text-align: left;
      word-break:keep-all;
      width: 100%;
      height: fit-content;
      font-size: clamp(4rem, 5vw, 5rem);
      color: black;
    }
    h3{
      font-size: clamp(2rem, 3vw, 3rem);
      color: #6F00FF;
      margin-bottom: 3rem;
    }
    a{
      padding: 1rem 2rem;
      border: 2px solid black;
      font-size: 1.5rem;
      background-color:transparent;
      color: black;
      text-decoration: none;
      font-weight: bold;
      border-radius: 5px;
      margin: 0.5rem;
    }
  }

  figure{
    width: 55%;
    height: 50%;
    display: flex;
    align-items: center;

    img{
      width: 95%;
      height: 100%;
      max-height: 800px;
      margin: 3rem 2.5%;
      border-radius: 1rem;
    }
  }
}

.projects-content{
  width: 100%;
  height: fit-content;
  padding-bottom: 4rem;
  article{
    h1{
      font-size: clamp(3rem, 15vw, 15rem);
      padding-left: 2rem;
      padding-top: 3rem;
    }
    h2{
      font-size: clamp(2rem, 3vw, 3rem);
      padding-left: 2rem;
      padding-bottom: 3rem;
      color: #6F00FF;
    }
    section{
      width: 90%;
      height: fit-content;
      border-radius: 1rem;
      border: 5px solid black;
      margin: 4.5rem 5%;
      display: flex;
      padding: 2.5rem;
      .project-info{
        display: flex;
        gap: 2rem;
        figure{
          width: 35%;
          height: auto;
          img{
            width: 100%;
            height: 50vh;
          }
        }
        .project-section{
          width: 70%;
          height: 100%;
          display: flex;
          flex-direction: column;
          .visit-link{
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: end;
            margin-top: 1rem;
            a{
              padding: 1rem 2.5rem;
              border: 2px solid black;
              font-size: 1.25rem;
              background-color:#6F00FF;
              color: white;
              text-decoration: none;
              font-weight: bold;
              border-radius: 5px;
              margin: 0.5rem;
            }
          }
          h3{
            font-size: clamp(2rem, 4vw, 4rem);
            padding-bottom: 2rem;
          }
          p{
            font-family: Verdana;
            font-size: clamp(1rem, 2vw, 2rem);
            padding-bottom: 2.5rem;
          }
        }
      }
    }
  }
}

.exp-content{
  width: 100%;
  height: fit-content;
  article{
    width: 100%;
    height: fit-content;
    padding-bottom: 5rem;
    h1{
      font-size: clamp(3rem, 14vw, 14rem);
      padding-left: 1rem;
      padding-top: 3rem;
    }
    h2{
      font-size: clamp(1.5rem, 2.5vw, 2.25rem);
      padding-left: 1rem;
      padding-bottom: 3rem;
      color: #6F00FF;
      position: relative;
    }
    ul{
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: start;
      position: sticky;
      padding: 1rem;
      background-color: #F8F8FF;
      top: 0;
      z-index: 4;
      overflow-x: auto;
      gap: 1rem;
      li{
        list-style: none;
        a{
          color: #9683EC;
          text-decoration: none;
          font-size: clamp(2rem, 3.5vw, 3.5rem);
          white-space: nowrap;
        }
      }
    }
    #technical-skills{
      display: flex;
      flex-direction: column;
      .skills-list{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3rem;
        gap: 1rem; 
        margin-bottom: 4rem;
        .skill-item{
          width: fit-content;
          justify-content: center;
          align-items: center;
          color: black;
          border: 2px solid black;
          padding: 1rem 2rem;
          text-align: center;
          font-size: 1.5rem;
          &:hover{
            background-color: #6F00FF;
            color:white;
            transform:translateY(-8px) scale(1.5);
          }
        }
      }
      .art-carousel{
        width: 100%;
        margin: auto;
        height: fit-content;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 1rem;
        margin-top: 2rem;
        img{
          width: 35rem;
          height: auto;
        }
      }
    }      
    
    section{
      width: 95%;
      height: fit-content;
      margin: 4rem auto;
      scroll-margin-top: 16vh;
      h3{
        font-size: clamp(3rem, 4vw, 4rem);
        margin-bottom: 1rem;
      }
      h4{
        font-size: 2rem;
        margin-bottom: 1rem;
        font-family: verdana;
        color: #6F00FF;
      }
      p{
        font-size: clamp(1.25rem, 1.75vw, 1.75rem);
        font-family: verdana;
        margin-bottom: 2rem;
      }
      figure{
        width: 45%;
        height: auto;
        img{
          width: 100%;
          max-height: 45rem;
          float: left;
          margin-right: 20px;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.contact-content{
  width: 100%;
  height: fit-content;
  article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1{
      width: 100%;
      height: fit-content;
      font-size: clamp(3rem, 9vw, 9rem);
      padding: 2rem 1rem;
    }
    h2{
      width: 100%;
      font-size: clamp(3rem, 7vw, 7rem);
      height: fit-content;
      color: #6F00FF;
      padding-left: 1rem;
    }

    section{
      width: 100%;
      height: fit-content;
      figure{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 5rem;
        iframe{
          width: 95%;
          height: clamp(25rem, 40vw, 40rem);
        }
        figcaption{
          width: 95%;
          display: flex;
          justify-content: end;
          a{
            color: #6F00FF;
          }
        }
      }
    }
    .contact-links{
        width: 95%;
        height: fit-content;
        margin: 4rem auto;
        display: flex;
        justify-content: space-between;

        .contact-item{
          color: black;
          font-size: clamp(1.75rem, 2.5vw, 2.5rem);
          text-decoration: none;
          border: 5px solid black;
          padding: 1.25rem 4rem;
          &:hover{
            background-color: #6F00FF;
            color: white;
          }
        }
    }
  }
}

.about-content{
  width: 100%;
  height: fit-content;
  padding-bottom: 4rem;
  article{
    width: 100%;
    height: fit-content;
    h1{
      font-size: clamp(5rem, 11vw, 11rem);
      padding: 6.5rem 1rem;
      text-align: center;
    }
    section{
      width: 98%;
      height: 100vh;
      display: flex;
      margin: auto;
      border: 2px solid black;
      figure{
        width: 50%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
        }
      }
      div{
        width: 50%;
        height: fit-content;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        p{
          font-family: verdana;
          font-size: clamp(1.6rem, 2vw, 2rem);
        }
        h3{
          font-size: clamp(4rem, 5vw, 5rem);
          color:black;
          margin-bottom: 0.75rem;
          margin-top: 5rem;
        }
      }
    }
    #s2{
      flex-direction: row-reverse;
    }
  }
}

@media screen and (max-width: 1025px) {
  .home-content{
    flex-direction: column-reverse;
    padding-bottom: 8rem;
    #self-intro{
      width: 100%;
      padding: 0rem 2rem;
      h2{
        width: 100%;
        font-size: clamp(3.5rem, 8vw, 8rem);
      }
      h3{
        width: 100%;
        font-size: clamp(2rem, 6vw, 6rem);
      }
      #explore-button{
        margin-bottom: 1rem;
      }
    }
    
    figure{
      width: 100%;
      img{
        width: 100%;
        height: 100vw;
        padding: 1rem  1rem;
      };
    }
  }

  .about-content{
    article{
      section{
        flex-direction: column;
        height: fit-content;
        border: none;
        figure{
          width: 98%;
          margin: auto;
          img{
            max-height: 50rem;
          }
        }
        div{
          width: 90%;
          margin: auto;
          padding: 15vh 1rem;
          h3{
            margin-top: 0;
          }
        }
      }
      #s2{
        flex-direction: column;
        figure{
          width: 98%;
          margin: auto;
        }
        div{
          width: 90%;
          margin: auto;
        }
      }
    }
  }



  .projects-content{
    article{
      h2{
        padding-bottom: 0rem;
      }
      section{
        .project-info{
          flex-direction: column;
          figure{
            width: 100%;
            img{
              width: 100%;
              height: 60vw;
            }
          }
          .project-section{
            width: 100%;
            .visit-link{
              justify-content: start;
              a{
                padding: 1rem 1.5rem;
              }
            }
          }
        }
      }
    }
  }

  .contact-content{
    article{
      .contact-links{
        flex-direction: column;
        gap: 4rem;
        .contact-item{
          width: 100%;
          padding: 2rem 3rem;
        }
      }
    }
  }

}
